* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    color:#000;
    font-family: arial;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.progress-bar-wrap {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,1);
    display:flex;
    opacity:1;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    transition:opacity 2.5s ease-in-out;
    z-index: 100;
}
    
#progress-bar {
    width:250px;
    height:32px;
    width:100%;
    position:absolute;
    bottom:0;
}

.loading-message {
    margin-top:16px;
    color:#7b7b7b;
    font-size:12px;
    text-align: center;
}

.percent-loaded {
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}

progress {
    border: none;
    border-radius: 100px;
  }
  
  progress::-moz-progress-bar {
    background: lightblue;
  }
  
  progress::-webkit-progress-value {
    background: #000;
  }
  
  progress::-webkit-progress-bar {
    background: #ccc;
  }

.loaded {
    opacity:0;
}